@model EntityLayer.Concrete.Contact
@{
    ViewBag.Title = "GetContactDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
          @Html.Action("ContactSideBar","Contact")
            <!-- /.col -->
            
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h2 class="card-title">Mesaj İçeriği</h2>

                        <div class="card-tools">
                            <a class="btn btn-danger" href="/Contact/Index"> <i class="fas fa-reply"></i>@Html.ValueFor(x => x.Subject)</a>
                
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>@Html.ValueFor(x=>x.UserName)</h5>
                            <h6>
                                From: @Html.ValueFor(x=>x.UserMail)
                                <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span>
                            </h6>
                        </div>
                        <!-- /.mailbox-read-info -->
                        <div class="mailbox-controls with-border text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                                    <i class="fas fa-reply"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                                    <i class="fas fa-share"></i>
                                </button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                                <i class="fas fa-print"></i>
                            </button>
                        </div>
                        <!-- /.mailbox-controls -->
                        <div class="mailbox-read-message">
                      

                            <p>
                               @Html.ValueFor(x=>x.Message)
                            </p>

                            

                           

                            

                           
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>
                    <!-- /.card-body -->
                  
                    <!-- /.card-footer -->
                    <div class="card-footer">
                      
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>